@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    margin: 0 0;
}
nav {
    position: fixed;
    display: flex;
    width: 100%;
    height: 5%;
    justify-content: space-around;
    background-color: #FFF;   
    box-shadow: 0 0 5px rgba(0, 0, 0, .5) ;
}
.logo{
    width: 20%;
    display: flex   ;
}
.logo .ico{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-top: .5rem;
    margin-right: 2rem;
}
.logo img{
    margin-top: .5rem;
    margin-left: .5rem;

}
.nav{
    display: flex;
    justify-content: space-between;
    height: 5vh;
    width: 40vw;
    margin: auto;
}
.nav .options{
    display: flex;
    width: 20%;
    /* background-color: brown; */
    text-align: center;
    justify-content: center;
    align-content: center;
    
}
.nav .options:hover{
    cursor: pointer;
    background-color: #000;
    color: #FFF;
    transition: .5s ease-in-out;
}
.nav .options span{
    padding-top: .5rem;
}
form{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: -5px;
}
form input{
    margin-top: 1rem;

    
}
.nav-container{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;

}
.list{
    margin-top: 10%;
}
.list table {
    width: 700px;
}