body {
    display: flex;
    flex-direction: column;
    background: #6161ffee;
    max-width: 100vw;
    align-items: center;
    font: 400 13.3333px Arial;
    font-family: monospace;
  
  }
  .container {
    background-color: #f0f0f0;
    width: 900px;
    height: 600px;
    border-radius: 20px;
    vertical-align: center;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    margin-top: 10vh;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5), 0 6px 6px rgba(0, 0, 0, 0.5);
    opacity: 0.85;
  } 
   header{
    text-align: center;
    margin: 30px auto;
  }
  
  input {
    border-style: hidden;
    outline: none;
    border-radius: 7px;
    width: 13em;
    height: 2.5em;
    padding-left: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #6161ffee;
  }
  #submit {
    margin: 20px 40%;
    margin-top: 30px;
    padding: 0.5em 2em;
    border-radius: 7px;
    width: 7em;
    height: 40px;
    cursor: pointer;
    border-style: hidden;
    background-color: #6161ffee;
    color: white;
    font-weight: bold;
    font-size: 18px;
    outline: none;
  }
  .account{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
    
  }
  .account div{
    display: flex;
  margin: auto;

  }
  .account div input{
    margin-right: 10%;
    margin-left: -5%;
  }
  .name {
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
    justify-content: space-around;
  }
  .personal {
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
  align-items: center;
  }
  
  select {
    border-style: hidden;
    outline: none;
    border-radius: 7px;
    width: 7em;
    height: 2em;
    padding-left: 10px;
    margin-left: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #6161ffee;
  }
  #dob {
    width: 10em;
    margin-right: 10px;
    margin-top: 15px;
  }
  .error p{
    text-align: center;
    background-color: aqua  ;
  }